$container-yellow: rgb(247, 182, 23);
$container-gray: rgb(43, 43, 43);
$font-color-white: white;
$font-size-big: 35px;
$helvetica: helvetica;
$space-percent: .5%;
$col-3: 30%;
$col-6: 50%;
$col-12: 100%;
