@import "variables";
@import "mixin";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: $container-yellow;
  padding: $space-percent;
  h1 {
    font-size: $font-size-big;
    color: $font-color-white;
  }
}

.container {
  width: 95%;
  margin: 2%;
}

.menu {
  ul {
    list-style: none;
    li{
      @include li (1%);
      &:hover {
        background: $container-yellow;
      }
    }
  }
}

.main-container {
  padding: $space-percent;
  h1 {
    font-size: $font-size-big;
  }
}

table {
  @include table;
  td {
    @extend table;
    &:hover {
      background: $container-yellow;
    }
  }
  th {
    @extend table;
  }
}

.aside {
  @include asideFooter;
}

footer {
  @include asideFooter;
  clear: both;
  margin-top: $space-percent;
  width: 100%;
}

// mobile
@media (max-width: 768px) {
  .menu{
    @include grid (12);
  }
  .main-container {
    @include grid (12);
  }
  .aside {
    @include grid (12);
  }
}

// ipads
@media (min-width: 768px) and (max-width: 1024px) {
  .menu{
    @include grid (4);
  }
  .main-container {
    @include grid (8);
  }
  .aside {
    @include grid (12);
  }
}

// desktops
@media (min-width: 1024px) {
  .menu{
    @include grid (3);
  }
  .main-container {
    @include grid (6);
  }
  .aside {
    @include grid (3);
  }
}
