@import "variables";
@import "mixin";

*{
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  margin: 2%;
}

.total-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav {
  background-color: $container-yellow;
  padding: $space-percent;
  h1 {
    font-size: $font-size-big;
    color: $font-color-white;
  }
}

.menu {
  ul {
    list-style: none;
    li{
      @include li (1%);
      &:hover {
        background: $container-yellow;
      }
    }
  }
}

.main-container {
  padding: $space-percent;
  h1 {
    font-size: $font-size-big;
  }
}

table {
  @include table;
  td {
    @include table;
    &:hover {
      background: $container-yellow;
    }
  }
  th {
    @include table;
  }
}

.aside {
  background: $container-gray;
  color: $font-color-white;
  text-align: center;
  padding: $space-percent;
  margin-top: $space-percent;
}

footer {
  @extend .aside;
}
